<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>webframe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>


<resource-ref>
<description>Connection</description>
<res-ref-name>jdbc/SqlDB</res-ref-name>
<res-type>javax.sql.DataSource</res-type>
<res-auth>Container</res-auth>
</resource-ref>

	<context-param>
		<param-name>log4jContextName</param-name>
		<param-value>webframe</param-value>
	</context-param>
	
	<!-- log4j2 자동 시작 방지 현재 이 web.xml 은 servlet3.0 기준이다. 하지만 아래의 log4j2 는 2.5기준으로 
		동작하게 하기 위해 isLog4jAutoInitializationDisabled 항목을 true 로 추가하였음 3.0 기준으로 돌아가게 
		하려면 아래 항목을 삭제 바람 -->

	<context-param>
		<param-name>isLog4jAutoInitializationDisabled</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- 기본으로는 /WEB-INF 아래의 log4j2.xml을 읽어들인다. 이를 별도로 변경하고 싶을경우 log4jConfiguration 
		항목을 생성한다. TOMCAT 의 경우 기본적으로 루트인 WebContent 를 기준으로 본다. 접근방법 예 file:///etc/myApp/myLogging.xml 
		classpath: 등이 있을 것 같음 -->

	<context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>/WEB-INF/log4j2.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener> 

</web-app>